<property name="projectName" value="simpletest" />
<property name="logType" value="waslog" />

<appender name="LogstashAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <destination>ip-10-119-36-73.ap-northeast-2.compute.internal:5001</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>                    
                        {
                        "date":"%date",
                        "level": "%level",
                        "logType": "${logType}",
                        "project": "${projectName}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{36}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>

    </appender>
